/* Header style starts */

*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-left img{
    height: 40px;
    width: 100%;
}

.user-avathar{
    border-radius: 50%;
    width: 45px;
}
.header-input .material-symbols-outlined{
    color: grey;
}
.header{
    padding: 15px 20px;
    display:flex ;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5 ;
    padding: 10px;
    margin-left: 10PX;
    border-radius: 999px;
}
.header-input input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.header-middle{
    display: flex;
    flex: 1;
    justify-content: center
}
.header-option .material-symbols-outlined{
    font-size: xx-large;
    font-weight: 300;
    color: gray;

}
.header-option :hover.material-symbols-outlined{
    color :#2e81f4;
}
.header-option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.header-option.active .material-symbols-outlined{
    color: #2e81f4
}
.header-option.active{
    border-bottom: 4px solid #2e81f4;
}
.header-option:hover{
background-color: #eff2f5;
border-radius: 10px;
align-items:center ;
padding: 0 30px;
border-bottom: none ;
}
.header-info{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-right.material-symbols-outlined{
    color: gray;
     margin: 0 10px;
     cursor: pointer;
}   
.header-activeinfo{
    display: flex;
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 50px;
    align-items:center ;
    padding: 0 5px;
    border-bottom: none ;

}
.user-avathar{
display: flex;
align-items: center;
padding: 0 10px;

}
.header-info .material-symbols-outlined{
    font-size: x-large;
    font-weight: 100;
    color: black;

}
.header-activeinfo:hover .material-symbols-outlined {
    color: #2e81f4
}
/* Header style ends */

/* side bar style starts */

.sidebarrow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebarrow:hover{
    background-color: lightgrey;
    border-radius: 10px;
}
.sidebarrow h4{
    margin-left: 20px;
    font-weight: 400;
}
.sidebarrow .material-symbols-outlined{
    font-size: xx-large;
    color: #2e81f4;
    height: 32px;
}
.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms  ease-in ;
}
.story:hover{
    transform: scale(1.07);
}
.on-story{
    margin: 10px;
}
.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
.storyreels{
    padding: 10px 0;
    display: flex;
}
.main-body{
    display: flex;
}
body{
background-color: #f1f2f5;
}
.feeds{
    flex: 1;
    padding: 30px 100px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-bar{
    padding: 35px 10px;
    flex: 0.33;
}

/* Post creator */

.post-creater{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}
.post-creater-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15PX;
}
.post-creater-top form{
flex: 1;
display: flex ;
}
.post-text-input-field{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.post-creater-bottom{
    display: flex;
    justify-content: space-evenly;
}
.post-options{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.post-options h3{
font-size: medium;
margin-left: 10px;
}
.post-options:hover{
cursor: pointer;
background-color: #eff2f5;
border-radius: 20px;
}

/* post */

.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(115, 110, 110, 0.5) ;
}

.post-image{
     width: 100%;
}
.postPhoto{
    width: 100%;
    height: 500px;
}
.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post-topinfo h3{
    font-size: medium;
}
.post-topinfo p{
    font-size: small;
    color: gray;
}
.post-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.post-opt{
    padding: 10px;
    border-top: 1x solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: grey;
    cursor: pointer;
    padding: 15px;
}
.post-optn{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post-optn p{
    margin: left 10px ;
}
.post-optn:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}
.rightspace h4{
    padding: 15px;
    font-size: small;
    font-weight: 500;
}
.proimg{
    
     display: flex;
     align-items: center;
     padding: 0 10px;
     width: 30px;
     height: 30px;
    
}
.rightspace{
    width: 300px;;

}
.firstdivision-top{
    display: flex;

}
.thirddivision{
    display: flex;
}
.pngGift{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.text-last{
    font-weight: 500;
    display: flex;
    align-items: center;

}
.firstdivision-prof{
    padding: 10px;
    display: flex;
}
.firstdivision-prof:hover{
    transform: scale(1.07);
    background-color: #eff2f5;
}